Certainly! Here's a regression project idea for your data science resume:

**Predicting House Prices:**

**Objective:**
Build a regression model to predict house prices based on various features.

**Steps:**

1. **Data Collection:**
   Obtain a dataset that includes information about houses, such as square footage, number of bedrooms, location, amenities, etc. You can find datasets on platforms like Kaggle or through real estate websites.

2. **Data Exploration and Cleaning:**
   Explore the dataset to understand the distribution of features and the target variable (house prices). Handle missing values, outliers, and perform any necessary data cleaning.

3. **Feature Engineering:**
   Create new features or transform existing ones that might improve the predictive power of your model. For example, you could derive a feature for the age of the house, calculate the price per square foot, or encode categorical variables.

4. **Data Visualization:**
   Create visualizations to better understand relationships between features and the target variable. Visualize the distribution of house prices, correlations between features, and any other insights that may guide your modeling decisions.

5. **Model Selection:**
   Choose a regression model suitable for predicting house prices. Linear regression is a good starting point, but you could also explore more advanced models such as decision trees, random forests, or gradient boosting.

6. **Model Training:**
   Split your dataset into training and testing sets. Train your chosen model on the training data and tune hyperparameters if necessary.

7. **Model Evaluation:**
   Evaluate your model's performance on the testing set using metrics like Mean Squared Error (MSE), Root Mean Squared Error (RMSE), or R-squared. Analyze the residuals to understand where your model might be making errors.

8. **Fine-Tuning:**
   Fine-tune your model by adjusting features, experimenting with different algorithms, or optimizing hyperparameters to improve performance.

9. **Deployment (Optional):**
   If applicable, deploy your regression model in a real-world setting. This could involve creating a simple web application, API, or integrating it into a larger system.

10. **Documentation:**
    Clearly document your entire process, including data preprocessing steps, feature engineering, model selection, and evaluation metrics. This documentation will be valuable when presenting your project on your resume.

Remember to effectively communicate your findings, insights, and the impact of your regression model when showcasing this project on your resume. This project demonstrates your proficiency in regression modeling and your ability to solve real-world problems related to predicting numerical outcomes.

In [1]:
! wget https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997293/data_description.txt
! wget https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997301/test.csv
! wget https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997305/train.csv
! wget https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997331/sample_submission.csv

--2024-01-21 14:06:07--  https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997293/data_description.txt
Resolving github.com (github.com)... 20.29.134.23
Connecting to github.com (github.com)|20.29.134.23|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997293?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140608Z&X-Amz-Expires=300&X-Amz-Signature=134c7f57ef24535139115f35a1b2742f2268ddba4c39cfd9571cae4512ae747c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Ddata_description.txt&response-content-type=text%2Fplain [following]
--2024-01-21 14:06:08--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997293?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140608Z&X-Amz-Expires=300&X-Amz-Signature=134c7f57ef24535139115f35a1b2742f2268ddba4c39cfd9571cae4512ae747c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Ddata_description.txt&response-content-type=text%2Fplain
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response...

200 OK
Length: 13370 (13K) [text/plain]
Saving to: ‘data_description.txt’

data_description.tx 100%[===================>]  13.06K  --.-KB/s    in 0s

2024-01-21 14:06:08 (32.9 MB/s) - ‘data_description.txt’ saved [13370/13370]

--2024-01-21 14:06:08--  https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997301/test.csv
Resolving github.com (github.com)... 20.29.134.23
Connecting to github.com (github.com)|20.29.134.23|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997301?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140608Z&X-Amz-Expires=300&X-Amz-Signature=88d1b5f6553e6500609237811305b09ba3daae54dde913e95fee94b7843ad276&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Dtest.csv&response-content-type=text%2Fcsv [following]
--2024-01-21 14:06:08--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997301?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140608Z&X-Amz-Expires=300&X-Amz-Signature=88d1b5f6553e6500609237811305b09ba3daae54dde913e95fee94b7843ad276&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Dtest.csv&response-content-type=text%2Fcsv
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 451405 (441K) [text/csv]
Saving to: ‘test.csv’

test.csv            100%[===================>] 440.83K  1.61MB/s    in 0.3s

2024-01-21 14:06:09 (1.61 MB/s) - ‘test.csv’ saved [451405/451405]

--2024-01-21 14:06:09--  https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997305/train.csv
Resolving github.com (github.com)... 20.29.134.23
Connecting to github.com (github.com)|20.29.134.23|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997305?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140610Z&X-Amz-Expires=300&X-Amz-Signature=6557b3e1f3e8dbbbe95bf8bf12f233da0db03649f24572c1a5225cf984e39181&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Dtrain.csv&response-content-type=text%2Fcsv [following]
--2024-01-21 14:06:10--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997305?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140610Z&X-Amz-Expires=300&X-Amz-Signature=6557b3e1f3e8dbbbe95bf8bf12f233da0db03649f24572c1a5225cf984e39181&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Dtrain.csv&response-content-type=text%2Fcsv
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 460676 (450K) [text/csv]
Saving to: ‘train.csv’

train.csv           100%[===================>] 449.88K  --.-KB/s    in 0.03s

2024-01-21 14:06:10 (13.3 MB/s) - ‘train.csv’ saved [460676/460676]

--2024-01-21 14:06:10--  https://github.com/coding4vinayak/coding4vinayak.github.io/files/13997331/sample_submission.csv
Resolving github.com (github.com)... 20.29.134.23
Connecting to github.com (github.com)|20.29.134.23|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997331?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140610Z&X-Amz-Expires=300&X-Amz-Signature=f6f5ab00707446dca7dafa936b17e6a8c6763082070cc1ced924e959fdc48c97&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Dsample_submission.csv&response-content-type=text%2Fcsv [following]
--2024-01-21 14:06:11--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/520775470/13997331?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240121%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240121T140610Z&X-Amz-Expires=300&X-Amz-Signature=f6f5ab00707446dca7dafa936b17e6a8c6763082070cc1ced924e959fdc48c97&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=520775470&response-content-disposition=attachment%3Bfilename%3Dsample_submission.csv&response-content-type=text%2Fcsv
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31939 (31K) [text/csv]
Saving to: ‘sample_submission.csv’

sample_submission.c 100%[===================>]  31.19K  --.-KB/s    in 0.002s

2024-01-21 14:06:11 (15.3 MB/s) - ‘sample_submission.csv’ saved [31939/31939]

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats

ModuleNotFoundError: No module named 'scipy'

In [ ]:
df_train = pd.read_csv('/workspace/portfolio-projects/data/train.csv')
df_test = pd.read_csv('/workspace/portfolio-projects/data/test.csv')
df_sample = pd.read_csv('/workspace/portfolio-projects/data/sample_submission.csv')

In [ ]:
df_sample.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [ ]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [ ]:
df_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
df = df_train.copy()
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:

df.MSSubClass

0       60
1       20
2       60
3       70
4       60
        ..
1455    60
1456    20
1457    70
1458    20
1459    20
Name: MSSubClass, Length: 1460, dtype: int64